{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <section class="home">
        <div class="max-width">
             <h1>Accueil</h1>


                <div>
                    {% for sorties in sortie %}
                        {{ sorties }}
                    {% endfor %}
                </div>


            <button><a href="{{ path('sortie_create') }}">Créer une sortie</a></button>

        </div>
    </section>
{% endblock %}

